body {
  background-color: rgb(125, 250, 208);
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: rgb(4, 87, 11);
}

.text {
  text-align: center;
  font-size: 2rem;
  color: rgb(247, 96, 96);
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.btn {
  background-color: rgb(82, 185, 23);
  font-size: 1.5rem;
  width: 15rem;
  height: 3rem;
  margin-top: 2rem;
  border-radius: 9px;
}

.input {
  background-color: rgb(82, 185, 23);
  height: 3rem;
  width: 20rem;
  border-radius: 9px;
}

.result {
  background-color: #6bda70;
  font-size: 3rem;
  color: rgb(3, 53, 7);
  text-align: center;
  margin-top: 3rem;
  margin-left: 20rem;
  margin-right: 20rem;
  border: 3px solid black;
  padding: 4rem;
  border-radius: 9px;
}

::placeholder {
  font-size: 1.5rem;
  color: antiquewhite;
  text-align: center;
}
