body {
  text-align: center;
  background-color: rgb(51, 139, 110);
}

.btn {
  background-color: rgb(223, 243, 133);
  padding: 2rem;
  padding-left: 6rem;
  padding-right: 6rem;
  margin-top: 3rem;
}

.result {
  background-color: rgb(255, 69, 69);
  margin-top: 3rem;
  height: 30rem;
  padding-top: 2rem;
}

.points {
  margin-top: 3rem;
  background-color: rgb(182, 19, 19);
  border: 5px solid rgb(255, 69, 69);
  height: 15rem;
}
