h1 {
  font-size: 4rem;
  color: #e8b2f3;
  margin-top: 4rem;
}

body {
  text-align: center;
  background-color: #753682;
}

.btn {
  background-color: #bb5cce;
  color: #490b55;
  font-size: 1.5rem;
  padding: 2rem;
  padding-left: 6rem;
  padding-right: 6rem;
  margin-top: 3rem;
  border: 3px solid #e085cd;
}

.result {
  background-color: #bb5cce;
  margin-top: 3rem;
  height: 40rem;
  padding-top: 2rem;
  border: 3px solid #e085cd;
  border-radius: 9px;
}

.points {
  margin-top: 3rem;
  padding-top: 2rem;
  background-color: #bb5cce;
  border: 5px solid #e085cd;
  height: 15rem;
  border-radius: 9px;
}

.text1 {
  font-size: 2rem;
  color: #710b83fd;
}

.text2 {
  font-size: 3rem;
  color: #deaee7;
}

.text3 {
  font-size: 2.2rem;
  color: #4a0457;
}
.marg1 {
  margin-top: 3rem;
}
